<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>772896028764-5ccdhenkv5ubf7q3gpflhfc5aeh5gqag.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.772896028764-5ccdhenkv5ubf7q3gpflhfc5aeh5gqag</string>
	<key>API_KEY</key>
	<string>AIzaSyBbQUV7JEXZmHAMNMs0LyBRIMFFEFhOqoI</string>
	<key>GCM_SENDER_ID</key>
	<string>772896028764</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.phonegap.touchey</string>
	<key>PROJECT_ID</key>
	<string>touchey-560de</string>
	<key>STORAGE_BUCKET</key>
	<string>touchey-560de.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:772896028764:ios:b208ba07581e44c0</string>
	<key>DATABASE_URL</key>
	<string>https://touchey-560de.firebaseio.com</string>
</dict>
</plist>